<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">%h FadeCandy</name>
  <service>
    <type>_opc._tcp</type>
    <port>7890</port>
  </service>
</service-group>