<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">%h pigpio</name>
  <service>
    <type>_gpio._tcp</type>
    <port>8888</port>
  </service>
</service-group>