[Unit]
Description=FadeCandy Server Daemon
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/fcserver /usr/local/bin/config/fcserver.json
User=blinkenlights
Group=fadecandy

[Install]
WantedBy=multi-user.target